/** {margin: 0;padding: 0;}*/
h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

.big {
    position: relative;
    width: 520px;
    height: 280px;
    overflow: hidden;
}

.small {
    position: relative;
    width: 520px;
    height: 203px;
    overflow: hidden;
}

.small .level0Ul {
    width: 3120px;
}
.big .selector {
    left: 205px;
}

.small .selector {
    left: 195px;
}

.level0Ul {
    position: absolute;
    width: 2605px;
    left: 0;
}

.level0Ul > li {
    position: relative;
    width: 520px;
    left: 0;
}

.selector > li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d2d2d2;
    margin: 1px 6px 1px 6px;
}

.selector > li:hover {
    background-color: chocolate;
}

.selector {
    position: absolute;
    bottom: 16px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.17);
    padding: 0 auto;
    z-index: 1001;
}
.clear {
    clear: both;
}

.level1 {
    width: 521px;
    height: 203px;
    background-color: #F4F4F4;
}
.smallImage li {
    width: 130px;
    height: 52px;
    padding-top: 10px
}

.left {
    width: 40px;
    height: 40px;
    position: absolute;
    float: left;
    left: 10px;
    margin: auto 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2)
}

.right {
    width: 40px;
    height: 40px;
    position: absolute;
    float: right;
    right: 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2)
}

.left:hover {
    background-color: rgba(0, 0, 0, 0.5)
}

.right:hover {
    background-color: rgba(0, 0, 0, 0.5)
}