/** {margin: 0;padding: 0;}*/
h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

.big {
    position: relative;
    width: 521px;
    height: 280px;
}

.small {
    position: relative;
    width: 521px;
    height: 203px;
}

.big .selector {
    left: 205px;
}

.small .selector {
    left: 195px;
}

.level0Ul {
    position: relative;
}

.level0Ul > li {
    position: absolute;
    top: 0;
    left: 0;
}

.selector > li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d2d2d2;
    margin: 1px 6px 1px 6px;
}

.selector > li:hover {
    background-color: chocolate;
}

.selector {
    position: absolute;
    bottom: 16px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.17);
    padding: 0 auto;
    z-index: 1001;
}

.clear {
    clear: both;
}