* {
    margin: 0;
    padding: 0;
}

html {
    color: #666;
}

body {
    position: relative;
    text-align: center;
}
ul {
    list-style: none;
}

li {
    float: left;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    background-color: transparent;
    margin: 0;
}

#div1 {
    margin-left: 100px;
    position: relative;
    top: 100px;
}

.p1-ds {
    width: 1040px;
    height: 190px;
    overflow: hidden;
}

.p1-ds-list {
    position: relative;
    width: 1560px;
    left: 0;
}

.p1-ds-list > li {
    width: 260px;
    height: 140px;
    padding-top: 50px;
}

.p1-ds-list .open {
    /*width: 780px;*/
}

.open .p1-ds-item .name {
    left: -30px;
}

.open .p1-ds-info {
    display: block;
    left: 0;
}

.p1-ds-row {
    position: relative;
    bottom: 0;
}

.p1-ds-item {
    position: relative;
    height: 140px;
    background: url("../image/p1_ds_bg.jpg") no-repeat;
}

.p1-ds-item .name {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    margin: 0;
    z-index: 3;
}

.p1-ds-item .pic {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.p1-ds-item .name .text {
    position: absolute;
    width: 35px;
    height: 86px;
    left: 180px;
    top: 30px;
    text-indent: -9999px;
    z-index: 2;
}

.p1-ds-item .name .line {
    background: url("../image/p1_ds_line.png") no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -40px;
    z-index: 1;
}

.text-zjl {
    background-image: url("../image/p1_text_zjl.png");
}

.text-ny {
    background-image: url("../image/p1_text_ny.png");
}

.text-wf {
    background-image: url("../image/p1_text_wf.png");
}

.text-ycq {
    background-image: url("../image/p1_text_ycq.png");
}

.p1-ds-info {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 40px;
    width: 780px;
    height: 140px;
    background: #282832 url("../image/p1_ds_bg2.jpg") repeat-y;
    z-index: 0;
}
.p1-ds-info .pic-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.p1-ds-info .con {
    padding-left: 240px;
    z-index: 5;
    position: relative;
    padding-top: 25px;
}

.p1-ds-info .con .summary {
    color: #fff;
    width: 400px;
    font-size: 14px;
    line-height: 23px;
    margin-top: 15px;
}

.p1-ds-info .con .action {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 6;
}

.p1-ds-info .con .p1-ds-btn {
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
    color: #fff;
}


.clear {
    clear: both;
}