ul {
    list-style: none;
}

#div1 {
    position: relative;
    width: 100%;
}

#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}