
ul {
    list-style: none;
}

h2 {
    margin: 0 auto;
    position: relative;
}
#div1 {
    position: relative;
    width: 100%;
}

#container {
    width: 590px;
    height: 320px;
    position: relative;
}

.selection {
    width: 590px;
    height: 280px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.selection li {
    width: 590px;
    height: 280px;
    position: absolute;
    left: 0;
    top: 0;
}

.selector {
    width: 590px;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.selector li {
    position: relative;
    float: left;
    width: 118px;
    height: 40px;
    background-color: #1e1e1e;
    text-align: center;
}

.selector li:hover {
    background-color: chocolate;
}

span {
    position: relative;
    top: 13px;
    color: aliceblue;
    font-size: 14px;
    text-align: center;
}