ul {
    width: 100px;
    list-style: none
}

a {
    text-decoration: none;
}
li *.level1 {
    background-color: blanchedalmond;
    width: 100px;
}

li *.level2 {
    background-color: #f9f9f9;
    width: 100px;
}

.level2 {
    padding: 0;
}



